# x-image-default: &mysql-image registry.cn-hangzhou.aliyuncs.com/useful-person/mysql:8.0
x-image-default: &mysql-image mysql:8.0

services:
  # 主库
  mysql-master:
    image: *mysql-image
    container_name: mysql-master
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: user_db
      MYSQL_USER: myuser
      MYSQL_PASSWORD: secret
      MYSQL_REPLICATION_USER: replica
      MYSQL_REPLICATION_PASSWORD: replica_pass
    volumes:
      - "${MYSQL_PRIMARY_DATA_PATH}:/var/lib/mysql"
      - ./mysql-master/config/my.cnf:/etc/mysql/my.cnf
      - ./mysql-master/init-primary.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - mysql-cluster
    ports:
      - "3307:3306"
    restart: always
    command: bash -c "chmod 644 /etc/mysql/my.cnf && docker-entrypoint.sh mysqld"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-prootpass"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  # 从库1
  mysql-slave1:
    image: *mysql-image
    container_name: mysql-slave1
    depends_on:
      mysql-master:
        condition: service_healthy
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - "${MYSQL_SECONDARY_1_DATA_PATH}:/var/lib/mysql"
      - ./mysql-slave1/config/my.cnf:/etc/mysql/my.cnf
      # - ./mysql-slave1/reset.sql:/docker-entrypoint-initdb.d/init.sql
      # - ./init-slave.sh:/docker-entrypoint-initdb.d/init-slave.sh
    networks:
      - mysql-cluster
    ports:
      - "3308:3306"
    restart: always
    command: bash -c "chmod 644 /etc/mysql/my.cnf && docker-entrypoint.sh mysqld"

  # 从库2
  mysql-slave2:
    image: *mysql-image
    container_name: mysql-slave2
    depends_on:
      mysql-master:
        condition: service_healthy
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - "${MYSQL_SECONDARY_2_DATA_PATH}:/var/lib/mysql"
      - ./mysql-slave2/config/my.cnf:/etc/mysql/my.cnf
      # - ./mysql-slave2/reset.sql:/docker-entrypoint-initdb.d/init.sql
      # - ./init-slave.sh:/docker-entrypoint-initdb.d/init-slave.sh
    networks:
      - mysql-cluster
    ports:
      - "3309:3306"
    restart: always
    command: bash -c "chmod 644 /etc/mysql/my.cnf && docker-entrypoint.sh mysqld"

networks:
  mysql-cluster:
    driver: bridge
